<% provide(:title, 'Edit')%>
<table class="table table-striped">
  <thead>
  	<tr>
	  <th>Enrolled Courses</th>
	</tr>
  </thead>
  <tbody>
	<% if @enrolled_courses.count > 0 %>
	  <% @enrolled_courses.each do |c| %>
	  <tr>
	    <td><h4><%= "#{c.title} #{c.course_number}"%></h4></td>
		<td>
		<% if c.creator_id == @user.id %>
		<%= button_to "delete", 
		    { controller:'users', action:'drop', id:@user.id, course_id:c.id }, 
		    method: :delete,
			data: { confirm: "Are you sure you want to delete the course #{c.title} #{c.course_number}?   If you delete this course, your students will not see this course anymore." }, 
			title: c.title,
			class: "btn btn-danger" %>
		<% else %>
		<%= button_to "drop", 
		    { controller:'users', action:'drop', id:@user.id, course_id:c.id }, 
		    method: :delete,
			data: { confirm: "Are you sure you want to drop #{c.title} #{c.course_number}?" }, 
			title: c.title,
			class: "btn btn-warning" %>
		<% end %>
		</td>	
	  </tr>
	  <% end %>
	<% else %>
	  <tr><td>Your course list is empty.</td></tr>
	<% end %>
  </tbody>
</table>
<p class="my_heading">Update your information</p>
<div class="hero-unit">
<div class="row">
  <div class="span6 offset2">
	<%= form_for(@user) do |f| %>
	
	  <%= render 'shared/error_messages', object: f.object %>
	
	  <%= f.label :name %>
	  <%= f.text_field :name %>
  
	  <%= f.label :email %>
	  <%= f.text_field :email %>
  
	  <%= f.label :password, "New password" %>
	  <%= f.password_field :password %>
  
	  <%= f.label :password_confirmation, "Confirmation" %>
	  <%= f.password_field :password_confirmation %>
  
	  <%= f.submit "Save", class: "btn btn-large btn-danger"%>
	<% end %>
  </div>
</div>
</div>