<h1>Schools#index</h1>

<div class="row">
  <div class="span6 offset3">
	  <!--form_for routes to create action-->
    <%= form_for(:school) do |f| %>
      <%= f.hidden_field :going_to_list_courses, value:true %>
      <%= f.label :school_id %>
      <%= f.collection_select :school_id, School.all, :id, :name %>
      <%= f.submit "Select", class:"btn btn-large btn-danger" %>
    <% end %>
	
    
  </div>
</div>
