<% provide(:title, 'New Course') %>
<h1>New Course</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :course_number %>
      <%= f.text_field :course_number %>
	  

	  
      <%= f.label :school_id %>
      <%= f.collection_select :school_id, School.all, :id, :name %>
	  <%= link_to "Add Your School", new_school_path, class: "btn btn-danger" %> 
	  
	  <h1></h1>
	  <%= f.submit "Create Class", class: "btn btn-large btn-primary" %>
    
    <% end %>
	
    
  </div>
</div>

