<% if @creator == post.user %>
<div class="panel panel-warning">
<% else %>
<div class="panel panel-info">
<% end %>
  <div class="panel-heading">
	<h3 class="panel-title"><%= post.title %></h3>
  </div>
  <div class="panel-body">
	<%= post.content %>
  </div>
  <div class="panel-footer">
    Posted <%= time_ago_in_words(post.created_at) %> ago. 
	<% if current_user?(post.user) || current_user.id == @course.creator_id %>
	<%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" }, title: post.content %>
	<% end %>
    <div class="pull-right">
	Posted by <%= post.user.name %>
    </div>
  </div>	
</div>      	



	