<h3><%= @course.title %></h3>
<%= link_to "New post", new_post_path, class: "btn btn-danger" %>
<h2></h2>
<div class="row">
  <aside class="span4"> 
  <section>
  <table class="table table-hover">
    <thead><tr><th>Posts</th></tr></thead>
	<tbody>
	<% @topics.each do |t| %>
	 <tr>
	   <td><%= link_to "#{t.posts.first.title}", controller:'posts', action:'index', topic_id:t.id %></td>
     </tr>
	<% end %>
    </tbody>
  </table>
  </section>
  </aside>
  
  <div class="span8">
	<ul>
	 <%= render @posts %> 
	</ul>
	<div class="center">
	<%= link_to "Comment",  {action: 'new',topic_id:@posts.first.topic.id,commenting:true}, class: "btn btn-large btn-danger" %>
	</div>
  </div>
</div>